body {
  background-color: transparent !important;
}

html {
  background-color: rgba(241, 203, 33, 0.2);
}

.appBar {
  z-index: 99;
}

.bold {
  font-weight: 600;
}

.boldLogo {
  font-weight: 800;
}

.button {
  font-weight: 800;
  font-size: 17px;
  padding: 15px;
  text-transform: capitalize;
}

.buttonNarrow {
  width: 50%;
}

.buttonTray {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.drawer {
  width: 250px;
  flex-shrink: 0;
}

.drawerPaper {
  width: 250px;
}

.faq-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.faq-question-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footerBody {
  background-color: #151515;
  padding: 20px;
  color: #fff;
  font-family: Montserrat;
  text-align: center;
}

.footerBody a {
  color: #fff;
}

.formTitle {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.greyFont {
  color: #616161;
}

.headerTitle {
  flex-grow: 1;
  color: #ffffff;
  letter-spacing: 1.8;
  padding: 15px;
  font-size: 35px;
}

.homeBody {
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  padding-right: 5px;
}

.imageContainer img {
  width: 100%;
}

.leftSide {
  padding-top: 45px;
}

.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

.no-votes-msg {
  padding-top: 18em;
  padding-bottom: 18em;
  text-align: center;
}

.rightSide {
}

.sectionText {
  line-height: 1.2;
  font-size: 18px;
}

.sectionTitle {
  color: #272361;
  font-weight: 800;
  font-size: 20px;
}

.subSectionContainer {
  padding-bottom: 25px;
}

.subtitle {
  flex: 1;
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
  font-size: 14px;
}

.textField {
  background-color: #fff;
  padding: 11px;
}

.thickerButton {
  border: 4px solid;
  border-radius: 18px;
  font-weight: 700;
  font-size: 18px;
  padding: 14px 20px;
}

.thickerButton:hover {
  border: 4px solid;
}

.title {
  flex-grow: 1;
  color: #272361;
  font-weight: 800;
  font-size: 23px;
}

.title-tagline {
  font-size: 18px;
}

.pageContainer {
  margin-left: auto;
  margin-right: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .button {
    font-size: 23px;
  }

  .headerTitle {
    font-size: 4vw;
  }

  .imageContainer {
    padding-right: 16px;
  }

  .rightSide {
    padding-top: 45px;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .sectionText {
    font-size: 1.25rem;
  }

  .subtitle {
    font-size: 22px;
  }

  .title {
    font-size: 3rem;
  }

  .title-tagline {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .leftSide {
    padding-right: 55px;
  }

  .video-container {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
}
